.side
  .side__user
    .side__items
      %h1.side__name
        = current_user.name
        %ul.side__icon
          %li.side__edit
            = link_to new_group_path do
              = icon('fas', 'edit')
          %li.side__cog
            = link_to edit_user_path(current_user) do
              = icon('fas', 'cog')
    .side__group
      - current_user.groups.each do |group|
        .side__box
          = link_to group_messages_path(group) do
            .side__list
              = group.name
            .side__text
              = group.show_last_message